[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
mlflow = "*"
xgboost = "*"
scikit-learn = "==1.2.2"
pandas = "*"
numpy = "*"
prefect-email = "*"
flask = "*"
evidently = "*"
tqdm = "*"
joblib = "*"
psycopg = "*"
psycopg2 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
